@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");
/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: #eee;
}

/* *************************************** */
/* RESUSABLE  */
/* *************************************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 5.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
/* *************************************** */
/* HEADER */
/* *************************************** */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fff; */
}

.header-content {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 2.8rem;
}

.heading {
  font-size: 3.2rem;
  font-weight: 700;
}
.nav-lists {
  font-size: 2rem;
}
.right-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul-lists {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.filled-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-link:visited,
.header-link:link {
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.header-icon {
  height: 2.2rem;
  width: 2.2rem;
}
.search-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.search-icon:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
/* MOBILE */
.mobile-btn {
  border: none;
  cursor: pointer;
  margin-left: 3.2rem;
}
.mobile-icon {
  height: 3.4rem;
  width: 3.4rem;
  color: #333;
  display: none;
}
.mobile-icon[name="close-outline"] {
  display: none;
}

/* *********************************************** */
/* CROWN HEAIGHT */
/* *********************************************** */
.crown-height {
  background-color: #01511d;
}
.crown-text {
  color: #fff;
  display: grid;
  padding: 2rem;
}
h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5rem;
}
.crown-discription {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}
h4 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
h6 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-left: 4.8rem;
}
.crown-li {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin-bottom: 1.5rem;
}
.crown-icon {
  height: 1.5rem;
  width: 1.5rem;
}

/* ********************************* */
/* THING TO EAT SECTION */
/* ********************************* */
.things-to-eat {
  background-color: #fff;
}
.things-to-eat-content {
  padding: 4.8rem 6.2rem;
}

.food-card {
  position: relative;
}
.card-1 {
  background-image: url(../img/meal-1.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
.card-2 {
  background-image: url(../img/meal-2.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
.card-3 {
  background-image: url(../img/celebration.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}
.card-4 {
  background-image: url(../img/farmer.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.food-decriptions {
  font-size: 1.8rem;
  background-color: #fcffc7;
  border: 2px solid #7e8064;
  padding: 1.8rem 2.4rem;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 180px;
  width: 70%;
  bottom: -90px;
  left: 8%;
}
.food-decriptions.food-decriptions-shadow {
  bottom: -96px;
  background-color: #fcffc7;
  border: 2px solid #7e8064;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
  left: calc(9% + 3px);
}

.location {
  display: flex;
  gap: 3.8rem;
  margin-top: 2rem;
}
.location-link:link,
.location-link:visited {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #3ba460;
  display: flex;
  gap: 0.5rem;
}

.location-link:hover,
.location-link:active {
  text-decoration: underline;
  color: #01511d;
}

/* *********************************************** */
/*CARD-SECTION */
/* *********************************************** */
.cards-section {
  background-color: #fff;
  padding: 4.8rem 0;
}
.card {
  margin: 10px 8rem;
  /* margin: 150px 8rem; */
}
.card-content {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #929494;
  box-shadow: 0 8rem 9rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  margin-bottom: 3.2rem;
}
.card-info {
  padding: 0 3.2rem;
  margin-bottom: 2rem;
}

.card-decription {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

/* *********************************************** */
/*THING TO DO */
/* *********************************************** */
/*  */
.things-to-do {
  background-color: #fff;
}
.things-to-do-content {
  padding: 0 6.2rem;
  margin-bottom: 4.8rem;
}

.thing-to-do-right {
  position: relative;
}

.thing-to-do-left {
  position: relative;
  justify-self: end;
}

/* *********************************************** */
/*THING TO SEE */
/* *********************************************** */
.thing-to-see {
  background-color: #fcffc7;
  padding: 9.6rem 0;
}

.thing-to-see-heading {
  font-size: 2.4rem;
  margin-left: 4.8rem;
  margin-bottom: 2rem;
}
/* *********************************************** */
/*explore THE NEIGHTBHOOD*/
/* *********************************************** */
.neighborhood {
  background-color: #fff;
  padding: 9.6rem 0;
}

/* *********************************************** */
/*FOOTER*/
/* *********************************************** */
footer {
  background-color: #fff;
  padding: 4.8rem 0;
}
.footer-content {
  margin: 0 5.2rem;
}
.footer-icons {
  display: flex;
  gap: 2rem;
  margin-top: 4.8rem;
}
.footer-icon {
  color: rgb(50, 50, 156);
  width: 3rem;
  height: 3rem;
  transition: all 1s;
}
.footer-icon:hover {
  color: rgb(0, 0, 255);
}
h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
ul li {
  list-style: none;
}
.footer-link {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5;
}
.footer-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #333;
}
.footer-discription {
  font-size: 1.5rem;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */
