@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: #eee;
}
/* *************************************** */
/* RESUSABLE  */
/* *************************************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 5.2rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* *************************************** */
/* HEADER */
/* *************************************** */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.header-content {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 2.8rem;
}
.heading {
  font-size: 3.2rem;
  font-weight: 700;
}
.nav-lists {
  font-size: 2rem;
}
.ul-lists {
  display: flex;
  gap: 5rem;
  list-style: none;
}
.filled-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-link {
  &:visited,
  &:link {
    color: #333;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }
  &:hover {
    // border-bottom: 3px solid #333;
    // padding-bottom: 4px;
    // transition: border 0.3s ease-in-out;
    // color: rgb(60, 60, 58);
  }
}

.header-icon {
  height: 2.2rem;
  width: 2.2rem;
}
.search-icon {
  height: 28px;
  width: 28px;
  cursor: pointer;
  padding: 2.8rem;

  &:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
}

/* *********************************************** */
/* CROWN HEAIGHT */
/* *********************************************** */
.crown-height {
  background-color: #01511d;
}
.main-text {
  color: #fff;
  display: grid;
  padding: 2rem;
}

h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5rem;
}
h4 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.secondary-paragraph {
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}
.sarah {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin-bottom: 1.5rem;
}
.sarah-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.wite {
  background-color: #fff;
}
/* ********************************* */
/* SECOND SECTION */
.second-section {
  background-color: #fff;
  padding: 4.8rem 0;
}

.food {
  align-items: center;
  width: 500px;
  height: 350px;
}
.food-left {
  position: relative;
  justify-self: end;
}
.food-right {
  position: relative;
}
.testimonial {
  font-size: 1.8rem;
  width: 70%;
  position: absolute;
  left: 15%;
  height: 180px;
  bottom: -90px;
}
.testimonial.testimonial-shadow {
  bottom: -105px;
  background-color: #fcffc7;
  border: 2px solid #7e8064;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
  left: calc(15% + 3px);
}
.testimonials {
  background-color: #fcffc7;
  border: 2px solid #7e8064;
  padding: 3.2rem;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
}

.location {
  display: flex;
  gap: 3.8rem;
  /* margin-bottom: 2rem; */
}
.location-link:link,
.location-link:visited {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #3ba460;
  display: flex;
  gap: 0.5rem;
}
.location-link:hover,
.location-link:active {
  text-decoration: underline;
  color: #01511d;
}
/* *********************************************** */
/*CRD-SECTION */
/* *********************************************** */
.cards-sectionn {
  background-color: #fff;
  padding: 4.8rem 0;
}
.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  margin-bottom: 3.2rem;
}
.french,
.bergn,
.catfish {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #929494;
  box-shadow: 0 8rem 9rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.meal-testiomonial {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.meal {
  margin: 150px 8rem;
}
.meal-info {
  padding: 0 3.2rem;
  margin-bottom: 2rem;
}
/* *********************************************** */
/*THING TO DO */
.thing-to-do-section {
  margin-bottom: 15rem;
}
.thing-to-do {
  background-color: #fff;
  padding: 9.6rem 0;
}
.thing-to-do-right {
  position: relative;
}
.thing-to-do-left {
  position: relative;
  justify-self: end;
}

.ushuhuda-left {
  background-color: #fcffc7;
  border: 2px solid #7e8064;
  padding: 3.2rem;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 270%;
  left: 53%;
}
.ushuhuda-right {
  background-color: #fcffc7;
  border: 2px solid #7e8064;
  padding: 3.2rem;
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 270%;
  left: 19%;
}
.ushuhuda-txt {
  font-size: 1.8rem;
  margin-bottom: 2.8rem;
}
/* *********************************************** */
/*THING TO SEE */
.thing-to-see {
  background-color: #fcffc7;
  padding: 9.6rem 0;
}
/* *********************************************** */
/*THING TO SEE */
.neighborhood {
  background-color: #fff;
  padding: 9.6rem 0;
}
